DATABASE_URL="postgresql://postgres:postgres@localhost:5432/flare?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=3000
JWT_SECRET="change-me-in-dev-only-32b"
CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"
